
.context-menu-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.context-menu {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border: 1px solid black;
  font-size: 15px;
  box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.75);

  > span {
    cursor: pointer;
    padding: 5px 20px;

    &:hover {
      background-color: #00000022;
    }
  }
}
