.tree-list {
  display: flex;
  flex-direction: column;
  outline: none;

  flex: 1;

  &:focus {
    .tree-list-item {
      .tree-list-name {
        &.selected {
          background-color: #3BBD5955;
        }

        &.cursor {
          border-color: #3BBD59;
        }
      }
    }
  }

  .tree-list-item {

    > .tree-list-name {
      display: flex;
      align-items: center;
      padding: 5px;
      border: 1px solid transparent;
      font-size: 16px;
      cursor: pointer;

      > span {
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      > .tree-list-icon {
        width: 13px;
        height: 13px;
        margin-right: 5px;
      }

      &:hover {
        background-color: #828FAC22;
      }
  
      &.selected {
        background-color: #828FAC44;
      }
    }
  }
}
